<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chapitre</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<br>
<br>
<div class = "container">
    <div class = "row">
        <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class = "text-center"> Create New Chapitre </h1>
            <div class = "card-body">
                <form th:action="@{/upload}" enctype="multipart/form-data" method="POST">


                        <div class="mb-3">
                            <label for="formFile" class="form-label"> file input </label>
                            <input class="form-control" name="file" type="file" id="formFile">
                        </div>
<!--
                        <p class="text-center">Center aligned text on all viewport sizes.</p>
                   </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" required></textarea>
                    </div>
-->

                    <div class = "box-footer">
                        <button type="submit" class = "btn btn-secondary">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>