<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Departement</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div th:include="Departement/header.html"></div>

<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Create New Departement </h1>
      <div class = "card-body">
        <form th:action="@{/Departement/Save}" th:object="${departement}" method="POST">

          <div class ="form-group">
            <label> Departement Name </label>
            <input
                    type = "text"
                    name = "NomDepartement"
                    th:field="*{nomDep}"
                    class = "form-control"
                    placeholder="Enter Departement Name"
            />
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-secondary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>