<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Module</title>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
</head>
<body>
<div th:include="Module/header.html"></div>

<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Create New Module </h1>
      <div class = "card-body">
        <form th:action="@{/Modul/Save}" th:object = "${Modul}" method="POST">

          <div class ="form-group">
            <label> Module Name </label>
            <input
                    type = "text"
                    name = "NomModule"
                    th:field = "*{nomModul}"
                    class = "form-control"
                    placeholder="Enter Module Name"
            />
          </div>

          <select class="custom-select" th:field="*{filier}">
            <option value="">Selectionnez un filiere</option>
            <option th:each="filiere : ${filieres}" th:value="${filiere.IdFil}" th:text="${filiere.NomFil}"></option>
          </select>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-secondary">
              Submit
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>